/* LoginPage CSS */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

.register-formAdmin {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    margin-top: 5%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.register-formAdmin input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    margin-top: 2%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.register-formAdmin p {
    margin-top: 1%;
    text-align: left;
}

.register-formAdmin button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
}
body {
    background: #78a6b8; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Navigation bar CSS */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #000000;
    overflow: hidden;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.topnav button {
    margin: 0.5%;
    background-color: #f2f2f2;
    padding: 0.5%;
    color: #25c628;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#discardQuizButton {
    color: #c60001;
}
.topnav p {
    display: inline;
    float: right;
    font-size: 17px;
    margin-right: 2%;
    color: white;
}

button {
    background-color: #f2f2f2;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#mainpageDisplayUser {
    float: right;
    color: white;
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
    margin-bottom: -2%;
}
.welcomeUserRef {
    align: right;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
.courseDiv {
    margin: 0 auto;
    width: 450px; height: 200px;
    background: #ffffff; border: 1px solid black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.createQuizTitle {
    padding-top: 5%;
}
.createQuizTitle2 {
    padding-top: 0%;
}
#createQuizCourse {
    font-weight: bold;
    margin-top: 0.1%;
}
.line {
    border: thin solid #ff353d;
    width: 80%;
    margin: 0 auto;
    margin-top: -2%;
}
.lineAccountPage {
    border: thin solid #ff353d;
    width: 30%;
    margin-top: -1%;
    margin-bottom: 1%;
}
.lineQuizzesPage {
    border: thin solid #ff353d;
    width: 80%;
    margin: 0 auto;
}
.lineAddQuestionsPage {
    border: thin solid #ff353d;
    width: 90%;
    margin: 0 auto;
    margin-top: -2.5%;

}
.hover {
    background-color:green;
}

.courseButton {
    margin-top: 2%;
    margin-right: 2%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.accountPage {
    margin-top: 2%;
}
#accountPageHeader {
    background-color: white;
    border: 1px solid black;

}
#accountPageHeader h1 {
    margin-left: 10%;
}
#accountPageHeader p {
    margin-left: 10%;
    font-weight: bold;
}
#accountPageHeader div {
    margin-left: 10%;
    width: 20%;
}

.homeText {
    position: center;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 2%;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}

.quizzesPageMenu {
    margin: 0 auto;
    height: 130px;
    width: 100%;
    background: #ffffff; border: 1px solid black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    position: absolute;
    z-index: 0;
}

.quizzesButtons {
    margin-top: 1%;
}

.quizzesText {
    margin-top: 1%;
}

.display {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10%;

}
.displayQuizzes {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10%;
    margin-top: 12%;
}

.displayQuizzes thead tr {
    border-bottom: 2px solid #ff353d;
}
.display thead tr {
    border-bottom: 2px solid #ff353d;
}
#deletionBox {
    padding: 1%;
    margin-left: 10%;
    float: left;
    width: 20%;
    margin-top: 2%;
    background-color: white;
    border: 2px solid black;
}
#deletionBoxQuizzes {
    padding: 1%;
    margin-right: 5%;
    margin-bottom: 5%;
    float: right;
    width: 20%;
    margin-top: 2%;
    background-color: white;
    border: 2px solid black;
    z-index:2;
    position: relative
}
#deletionBoxUsers {
    padding: 1%;
    margin-right: 10%;
    margin-left: 80%;
    float: right;
    width: 12%;
    margin-top: 10%;
    margin-bottom: -24%;
    background-color: white;
    border: 2px solid black;
    position: fixed;

}
#deletionBoxUsers input {
    width: 90%;

}

.deletionHeader{
    font-weight: bold;
}

.accountPageText{
    margin-left: 10%;

}

.accountPageLabels {

    background-color: white;
    width: 22%;
    border: 2px solid black;
}

#createAdminTextBox {
    margin-left: -5%;
    width: 110%;
}

#courseId {
    margin-top: -1%;
}

#quizEditor {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ffffff;
    padding-top: 2%;
    padding-bottom: 2%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#quizEditor input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 1.5%;
}

#quizEditor button {
    margin: 1%;
    background-color: #25c628;
    padding: 1%;
    padding-top: 1.5%;
    color: white;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#addQuestionsPageMenu {
    margin-bottom: 3%;
}

.question {
    margin-bottom: 4%;
    width: 50%;
}

#saveQuestionButton {
}

#topText {
    width: 40%;
    align-items: center;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5%;
    background-color: white;
    margin-top: 2%;
}
#howItWorks {
    border: 1px solid black;
    margin-top: 5%;
    padding: 2%;
    margin-left: 5%;
    width: 15%;
    height: 30%;
    background-color: white;
    margin-bottom: 2%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
}
#howItWorksHeader {
    font-weight: bold;
}
.radioBtn {
    margin-bottom: -2%;
}

#counterNotation {
    font-weight: bold;
    display: inline;
}

#deleteUserButtonDivUsersPage {
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 1%;
}
#howItWorksBtn {
    color: black;
}

#Header  {
    width: 40%;
    align-items: center;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5%;
    background-color: white;
    margin-top: 2%;

}
#Header div {
    margin-top: -2%;
    margin-bottom: 1%;

}

#startQuizButtonDiv {
    margin: 0 auto;
    text-align: center;

}

#startQuizButtonDiv button {
    background-color: #1f8c22;
    color: white;
    padding: 1%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

.questionBox {
    background-color: white;
    padding: 2%;
    color: black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    font-size: 150%;
}

.choiceBox {
    margin-top: 2%;
    background-color: #ffffff;
    padding: 1%;
    color: black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    margin-left: 40%;
    width: 20%;
    font-size: 110%;
}

#nextQuestionButton {
    margin-top: 2%;
    background-color: #1f8c22;
    color: white;
    padding: 1%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-left: 45%;

}

.correct {
    background-color: #1f8c22;
    color: white;
}

.incorrect {
    background-color: #8c000f;
    color: white;
}

#quitQuizBtn {
    float: right;
    margin-right: 4%;
    margin-top: 1%;
    background-color: #8c000f;
    color: white;
    padding: 1%;
    font-size: 110%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#finishBtn {
    margin-top: 2%;
    background-color: #1f8c22;
    color: white;
    padding: 1%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-left: 47%;

}

.alignItems p {
    display: inline-block;
}